.blog {
  padding: 100px 0;
  transition: all 0.3s ease;
}

.blog .title::after {
  content: 'What My Site';
}

.blog .blog-content {
  margin-bottom: 100px;
  display: flex;
  justify-content: space-between;
}

.blog .blog-content .left {
  width: 32%;
}

.blog .blog-content .center {
  width: 32%;
}

.blog .blog-content .right {
  width: 32%;
}

.blog .blog-content a {
  display: flex;
  text-align: center;
  color: black;
}

.blog .blog-content a,
.blog .blog-content a:visited,
.blog .blog-content a:active,
.blog .blog-content a:hover {
  text-decoration: none;
}

.blog .blog-content .site {
  background-color: rgb(240, 236, 236);
  border-radius: 6px;
  padding: 25px 35px;
  transition: all 0.3s ease;
}

.blog .blog-content .site img {
  height: 150px;
  width: 150px;
  object-fit: cover;
  border-radius: 50%;
  border: 5px solid rgb(255, 164, 45);
  transition: all 0.3s ease;
}

.blog .blog-content .site-text {
  font-size: 25px;
  font-weight: 600;
}

.blog .blog-content p {
  font-size: 18px;
  text-align: justify;
}

.blog .blog-content .site:hover img {
  border-color: white;
}
