footer {
  background: rgb(13, 13, 61);
  padding: 20px 0;
  color: #ffffff;
  text-align: center;
}

footer span a {
  color: rgb(255, 164, 45);
  text-decoration: none;
}

footer span a:hover {
  text-decoration: underline;
}
