@media (max-width: 1799px) {
  .home .max-width {
    margin-left: 5px;
  }
}

@media (max-width: 1199px) {
  .about .about-content .left img {
    height: 350px;
    width: 350px;
  }
}
@media (max-width: 899px) {
  .navbar .menu-btn {
    display: inline;
    z-index: 999;
  }

  .nevbar .menubar {
    position: fixed;
    height: 100vh;
    width: 100%;
    left: -100%;
    top: 0;
    background: #111;
    text-align: center;
    padding-top: 80px;
    transition: all 0.3s ease;
  }

  .navbar .menubar.active {
    left: 0;
  }

  .navbar .menubar li {
    display: block;
  }

  .navbar .menubar li a {
    display: inline-block;
    margin: 20px 0;
    font-size: 25px;
  }

  .home .home-content .text-2 {
    font-size: 70px;
  }

  .about .about-content .column {
    width: 100%;
  }

  .about .about-content .left {
    display: flex;
    justify-content: center;
    margin: 0 auto 60px;
  }
  .max-width {
    max-width: 800px;
  }
}


@media screen and (max-width: 768px) {
  /* navbar */
  .navbar .logo {
    text-align: center;
    width: 100%;
  }
  .navbar .menubar {
    display: none; 
  }

  /* about 섹션 */
  .about-content {
    flex-direction: column; 
    align-items: center;
  }
  .about-content .left,
  .about-content .right {
    width: 100%;
    text-align: center;
  }
  .about-content img {
    max-width: 80%; 
    height: auto;
    margin-bottom: 20px;
  }

  /* work 섹션 */
  @media screen and (max-width: 768px) {
    .work-content {
      flex-direction: column; 
      align-items: center; 
      padding: 0; 
    }

    .work-card {
      width: 90%; 
      max-width: 350px; 
      margin-bottom: 20px; 
    }

    .work-card img {
      width: 100%;
      height: auto; 
      border-radius: 6px;
    }
  }

  /* blog 섹션 */
  .blog .blog-content {
    flex-direction: column;
    align-items: center;
  }

  .blog .blog-content .left,
  .blog .blog-content .center,
  .blog .blog-content .right {
    width: 90%;
    margin-bottom: 20px;
  }

  .blog .blog-content a {
    width: 100%;
    justify-content: center;
  }

  .blog .blog-content .site img {
    width: 100px; 
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
  }
}
