@media (max-width: 1799px) {
  .home .max-width {
    margin-left: 5px;
  }
}

@media (max-width: 1199px) {
  .about .about-content .left img {
    height: 350px;
    width: 350px;
  }
}

@media (max-width: 899px) {
  .navbar .menu-btn {
    display: flex;
    z-index: 1001;
  }

  .navbar .menubar {
    position: fixed;
    height: 100vh;
    width: 100%;
    left: -100%;
    top: 0;
    background: rgb(13, 13, 61);
    text-align: center;
    padding-top: 100px;
    transition: all 0.3s ease;
    display: flex !important;
    flex-direction: column;
    align-items: center;
  }

  .navbar .menubar.active {
    left: 0;
  }

  .navbar .menubar li {
    display: block;
    margin: 18px 0;
  }

  .navbar .menubar li a {
    display: inline-block;
    font-size: 24px;
    margin-left: 0;
  }

  .dark-mode-li {
    margin-left: 0 !important;
    margin-top: 10px;
  }

  .dark-btn {
    font-size: 26px;
  }

  .navbar .menu-btn.active .bar:nth-child(2) {
    opacity: 0;
  }
  .navbar .menu-btn.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .navbar .menu-btn.active .bar:nth-child(3) {
    transform: translateY(-9px) rotate(-45deg);
  }

  .home .home-section .text-2 {
    font-size: 55px;
  }
  .about .about-content .left {
    display: flex;
    justify-content: center;
    margin: 0 auto 40px;
  }
  .max-width {
    max-width: 800px;
  }
}

@media screen and (max-width: 768px) {
  .about-content {
    flex-direction: column;
    align-items: center;
  }
  .about-content .left,
  .about-content .right {
    width: 100%;
    text-align: center;
  }
  .about-content img {
    max-width: 80%;
    height: auto;
    margin-bottom: 20px;
  }

  .card-container {
    flex-direction: column;
    align-items: center;
    gap: 25px;
  }
  .custom-card {
    width: 90%;
    max-width: 360px;
  }

  .skills-content {
    width: 90%;
  }

  .contact-info-card {
    width: 90%;
    padding: 25px;
  }
}
